<div class="container">    
      <div class="row">
        <div class="col-sm-3" *ngFor = "let breakfastItem of breakfastItems" [routerLink]="['/item-detail', breakfastItem.id]">
          <div class="panel panel-default">
            <div class="panel-heading">{{breakfastItem.name}}</div>
            <div class="panel-body"><img src="{{BaseURL + breakfastItem.image}}" class="img-responsive" style="width:100%" alt="Image"></div>
            <div class="panel-footer">Rs. {{breakfastItem.price}} </div>
          </div>
        </div>
      </div>
  </div>