  
  <div class="container-fluid breadcrumbBox text-center">
    <ol class="breadcrumb">
      <li><a href="#">Review</a></li>
      <li class="active"><a href="#">Order</a></li>
      <li><a href="#">Payment</a></li>
    </ol>
  </div>
  <div class="container text-center">

      <div class="col-md-5 col-sm-12">
          <div class="bigcart"></div>
          <h1>Your shopping cart</h1>
          <p>  
          </p>
        </div>
    <div class="col-md-7 col-sm-12 text-left">
      <ul>
        <li class="row list-inline columnCaptions">
          <span>QTY</span>
          <span>ITEM</span>
          <span>Price</span>
        </li>
        <li class="row" *ngFor = "let cartItem of cartItems">
          <span class="quantity">{{cartItem.quantity}}</span>
          <span class="itemName">{{cartItem.item[0].name}}</span>
     
        <span class="dropdown popbtn"><a class="dropdown-toggle arrow" data-toggle="dropdown" routerLinkActive="active"></a>
          <ul class="dropdown-menu">
            <li><a  routerLink="/cart">Edit</a></li>
            <li> <a  (click)="deleteitem($event, cartItem)" routerLink="/cart">Delete</a></li>
          </ul>
         
        </span>
          
          <span class="price">₹{{cartItem.item[0].price}}</span>
        </li>
        
        <li class="row totals">
          <span class="itemName">Total:</span>
          <span class="price">₹{{total}}</span>
          <span class="order"> <a class="text-center"  (click)="placeorder()">Place Order
          </a></span>
        </li>
       
      </ul>
    </div>

  </div>

  <!-- The popover content -->

  


<!-- 
  <div class="container"><table class="table table-bordered">
      <thead>
        <tr>
        <th>Select</th>
        <th> id </th>
        <th>Product Name</th>
        <th>Description</th>
        <th>Price</th>
        <th>quantity</th>
        <th>Order description</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor = "let cartItem of cartItems" >
          <td> <button type="button" class="btn btn-primary" (click)="deleteitem($event, cartItem)">Delete</button></td>
          <td>{{cartItem.id}}
          </td>
          <td>{{cartItem.name}}
          </td>
          <td>{{cartItem.description}}
            </td>
            <td>
              </td>
              <td>
              </td>
              <td>{{cartItem.orderdescription}}
              </td>
        </tr>
        <!--<tr>
          <td>
          </td>
          <td>
          </td>
        </tr>
      </tbody>
    </table>
    -->