<div class="container">    
      <div class="row">
        <div class="col-sm-3" *ngFor = "let beveragesItem of beveragesItems" [routerLink]="['/item-detail', beveragesItem.id]">
          <div class="panel panel-default">
            <div class="panel-heading">{{beveragesItem.name}}</div>
            <div class="panel-body"><img src="{{BaseURL + beveragesItem.image}}" class="img-responsive" style="width:100%" alt="Image"></div>
            <div class="panel-footer">Rs. {{beveragesItem.price}} </div>
          </div>
        </div>
      </div>
  </div>