

<div class="container-fluid footer" 
    fxLayout="row" 
    fxLayout.sm="column" 
    fxLayout.xs="column" 
    fxLayoutAlign.xs="start center" 
    fxLayoutAlign.sm="start center"
    fxLayoutAlign.gt-sm="center center" 
    fxLayoutWrap 
    fxLayoutGap="10px">
<div class="container">
  <div fxFlex="100%" fxFlex.gt-sm="50%">
    <div fxLayout="row">
      <div fxFlex="40" fxFlexOffset="20px">
        <h4>Links</h4>
        <ul class="list-unstyled">
            <li><a routerLink="/home">Home</a></li>
            <li><a routerLink="/about">About</a></li>
            <li><a routerLink="/whatsnew">Menu</a></li>
            <li><a routerLink="/contactus">Contact</a></li>
        </ul>
      </div>
      <div fxFlex="50">
        <h4>Our Address</h4>
        <address style="text-size: 80%">
            Chandigarh-Patiala<br>
            National Highway (NH- 64),<br>
            Village, Jansla, Rajpura,<br>
            Punjab 140401<br>
          <i class="fa fa-phone"></i>: + 9195011 05714<br>
         
          <i class="fa fa-envelope"></i>:
          <a href="mailto:confusion@food.net">fc@food.net</a>
        </address>
      </div>
  
    </div>
  </div>
  <div fxLayout="row" fxLayoutAlign="space-around center" >
      <div style="text-align:center">
          <a class="btn btn-social-icon btn-google-plus" href="http://google.com/+"><i class="fa fa-google-plus"></i></a>
          <a class="btn btn-social-icon btn-facebook" href="http://www.facebook.com/profile.php?id="><i class="fa fa-facebook"></i></a>
          <a class="btn btn-social-icon btn-linkedin" href="http://www.linkedin.com/in/"><i class="fa fa-linkedin"></i></a>
          <a class="btn btn-social-icon btn-twitter" href="http://twitter.com/"><i class="fa fa-twitter"></i></a>
          <a class="btn btn-social-icon btn-youtube" href="http://youtube.com/"><i class="fa fa-youtube"></i></a>
          <a class="btn btn-social-icon" href="mailto:"><i class="fa fa-envelope-o"></i></a>
      </div>
  </div>
  
</div>
</div>