      <footer class="footer">
        <div class="container">
            <div>             
                <div class="col-5 offset-1 col-sm-2">
                    <h5>Links</h5>
                    <ul class="list-unstyled">
                      <li><a routerLink="/home">Home</a></li>
                      <li><a routerLink="/menu/lunch">Menu</a></li>
                      <li><a routerLink="/contactus">Contact</a></li>
                    </ul>
                </div>
                <div class="col-6 col-sm-5">
                    <h5>Our Address</h5>
                    <address>
                      Chandigarh-Patiala<br>
                      National Highway (NH- 64),<br>
                      Village, Jansla, Rajpura,<br>
                      Punjab 140401<br>
                    <i class="fa fa-phone"></i>: + 9195011 05714<br>
                   
                    <i class="fa fa-envelope"></i>:
                    <a href="mailto:confusion@food.net">fc@food.net</a>
                  </address>
                </div>
                <div class="col-sm align-self-center">
                    <div style="
                      display: flex;
                      height: 150px;
                      justify-content: center;
                      align-items: center;
                    ">
                        <a class="btn btn-social-icon btn-google-plus" href="http://google.com/+"><i class="fa fa-google-plus"></i></a>
                        <a class="btn btn-social-icon btn-facebook" href="http://www.facebook.com/profile.php?id="><i class="fa fa-facebook"></i></a>
                        <a class="btn btn-social-icon btn-linkedin" href="http://www.linkedin.com/in/"><i class="fa fa-linkedin"></i></a>
                        <a class="btn btn-social-icon btn-twitter" href="http://twitter.com/"><i class="fa fa-twitter"></i></a>
                        <a class="btn btn-social-icon btn-youtube" href="http://youtube.com/"><i class="fa fa-youtube"></i></a>
                        <a class="btn btn-social-icon" href="mailto:"><i class="fa fa-envelope-o"></i></a>
                    </div>
                </div>
            </div>
         
        </div>
      </footer>