<div class="row row-content">

  <div id="myCarousel" class="carousel slide" data-ride="carousel">

    <ol class="carousel-indicators">
      <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
      <li data-target="#myCarousel" data-slide-to="1"></li>
      <li data-target="#myCarousel" data-slide-to="2"></li>
    </ol>

    <div class="carousel-inner">
      <div class="item active">
        <img src="/assets/images/sq5.jpg" alt="New York">
      </div>
      <div class="item">
        <img src="/assets/images/sq8.jpg" alt="Los Angeles">
      </div>

      <div class="item">
        <img src="/assets/images/hungry.jpg" alt="Chicago">
      </div>

    </div>
    <a class="left carousel-control" href="#myCarousel" data-slide="prev">
      <span class="glyphicon glyphicon-chevron-left"></span>
      <span class="sr-only">Previous</span>
    </a>
    <a class="right carousel-control" href="#myCarousel" data-slide="next">
      <span class="glyphicon glyphicon-chevron-right"></span>
      <span class="sr-only">Next</span>
    </a>
  </div>
</div>

<div class="container-fluid">
  <div class="row" style="text-align: center;color:white;">
    <div class="col-md-3 col-xs-12 col-sm-6">
      <div class="row" style="background-color: #87ceebd1">
        <span>
          <img style=" display: block; margin-left:auto;margin-right:auto;width:15%;margin-top:10px" src="/assets/images/menu.png">
        </span>
        <span>
          <h3>
            <b>Our Menu</b>
          </h3>
        </span>
        <h4>
          <b>Explore our range of mouth-watering dishes, served hot and fresh!</b>
        </h4>
        <a class="btn" routerLink="/home" style="margin-top:10px;margin-bottom: 15px;">Discover Our Menu</a>
      </div>
    </div>
    <div class="col-md-3 col-xs-12 col-sm-6">
      <div class="row" style="background-color: skyblue">
        <span>
          <i class="fa fa-coffee" style="font-size:119px;color:white"></i>
        </span>
        <span>
          <h3>
            <b>Breakfast Menu</b>
          </h3>
        </span>
        <h4>
          <b>Start your morning with a delicious breakfast!</b>
        </h4>
        <a routerLink="/menu/breakfast" class="btn " style="margin-top:10px;margin-bottom: 15px;">Breakfast</a>
      </div>
    </div>
    <div class="col-md-3 col-xs-12 col-sm-6">
      <div class="row" style="background-color: #87ceebd1">
        <span class="icon-box">
          <img style=" display: block; margin-left:auto;margin-right:auto;width:30%;margin-top:10px" src="/assets/images/lunch.png">
        </span>
        <span>
          <h3>
            <b>Lunch Menu</b>
          </h3>
        </span>
        <h4>
          <b>Half day completed? Revive your energy with a delicious lunch!</b>
        </h4>
        <a routerLink="/menu/lunch" class="btn " style="margin-top:10px;margin-bottom: 15px;">Lunch</a>
      </div>
    </div>
    <div class="col-md-3 col-xs-12 col-sm-6">
      <div class="row" style="background-color: skyblue">
        <span class="icon-box">
          <i class="fa fa-cutlery" style="font-size:88px;color:white;margin-top:10px;"></i>
        </span>
        <span>
          <h3>
            <b>Dinner Menu</b>
          </h3>
        </span>
        <h4>
          <b>Went through a stressful day? Make it better with a tempting dinner which will make you smile</b>
        </h4>
        <a routerLink="/menu/dinner" class="btn " style="margin-top:10px;margin-bottom: 15px;">Dinner</a>
      </div>
    </div>
  </div>




</div>