
    <div class="row row-content">
       
           <div  id="myCarousel" class="carousel slide" data-ride="carousel">

    <ol class="carousel-indicators">
      <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
      <li data-target="#myCarousel" data-slide-to="1"></li>
      <li data-target="#myCarousel" data-slide-to="2"></li>
    </ol>
  
    <div class="carousel-inner">
      <div class="item active">
        <img src="/assets/images/hungry.jpg" alt="New York">
      </div>
      <div class="item">
        <img src="/assets/images/qqq.jpg" alt="Los Angeles">
      </div>
  
      <div class="item">
        <img src="/assets/images/qqqq.jpg" alt="Chicago">
      </div>
  
    </div>
    <a class="left carousel-control" href="#myCarousel" data-slide="prev">
      <span class="glyphicon glyphicon-chevron-left"></span>
      <span class="sr-only">Previous</span>
    </a>
    <a class="right carousel-control" href="#myCarousel" data-slide="next">
      <span class="glyphicon glyphicon-chevron-right"></span>
      <span class="sr-only">Next</span>
    </a>
  </div>
    </div>

  <div class="container">
    <div class="row row-content align-items-center" class="hov" >
        <div class="col-sm-4 col-md-3 flex-last">
            <h3>Our Lipsmacking Culinary Creations</h3>
        </div>
        <div class="col-sm col-md flex-first">
            <div class="media">
                
                <div class="media-body">
                    <h2 class="mt-0">Uthappizza  </h2>
                    <p class="hidden-xs-down">A unique combination of Indian Uthappam (pancake) and
                        Italian pizza, topped with Cerignola olives, ripe vine
                        cherry tomatoes, Vidalia onion, Guntur chillies and
                        Buffalo Paneer.</p>
                </div>
            </div>
        </div>
    </div>


    <div class="row row-content align-items-center" class="hov">
        <div class="col-sm-4 col-md-3">
            <h3>This Month's Promotions</h3>
        </div>
        <div class="col-sm col-md">
            <div class="media">

                <div class="media-body">
                    <h2 class="mt-0">Weekend Grand Buffet </h2>
                    <p class="hidden-xs-down">Featuring mouthwatering combinations with a choice of five different salads, six enticing appetizers, six main entrees and five choicest desserts. Free flowing bubbly and soft drinks. All for just $19.99 per person </p>
                </div>
            </div>
        </div>
    </div>


    <div class="row row-content align-items-center" class="hov">
        <div class="col-sm-4 col-md-3 flex-last">
            <h3>Meet our Culinary Specialists</h3>
        </div>
        <div class="col-sm col-md flex-first">
            <div class="media">
               
                <div class="media-body">
                    <h2 class="mt-0">Alberto Somayya</h2>
                    <h4>Executive Chef</h4>
                    <p class="hidden-xs-down">Award winning three-star Michelin chef with wide
                        International experience having worked closely with
                        whos-who in the culinary world, he specializes in
                        creating mouthwatering Indo-Italian fusion experiences.
                    </p>
                </div>
            </div>
        </div>
    </div>


</div>