

<div class="container">

    <div class="row breadcrumbBox text-center">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="./index.html">Home</a></li>
            <li class="breadcrumb-item active">Contact Us</li>
        </ol>
      </div>
   
    <div class="row row-content">
       <div class="col-12">
          <h3>Location Information</h3>
       </div>
        <div class="col-12 col-sm-4 offset-sm-1">
            <h5>Our Address</h5>
            <address style="font-size: 100%">
              Chandigarh-Patiala<br>
              National Highway (NH- 64),<br>
              Village, Jansla, Rajpura,<br>
              Punjab 140401<br>
          <i class="fa fa-phone"></i>: + 9195011 05714<br>
          <i class="fa fa-envelope"></i>:
                <a href="mailto:fc@food.net">fc@food.net</a>
       </address>
        </div>
        <div class="col-12 col-sm-6 offset-sm-1">
            <h5>Map of our Location</h5>
        </div>
        <div class="col-12 col-sm-11 offset-sm-1">
            <div class="btn-group" role="group">
                <a role="button" class="btn btn-primary" href="tel:+85212345678"><i class="fa fa-phone"></i> Call</a>
                <a role="button" class="btn btn-info"><i class="fa fa-skype"></i> Skype</a>
                <a role="button" class="btn btn-success" href="mailto:confusion@food.net"><i class="fa fa-envelope-o"></i> Email</a>
            </div>
        </div>
    </div>
    
    <agm-map [latitude]="latitude" [longitude]="longitude" [scrollwheel]="false" [zoom]="zoom">
        <agm-marker [latitude]="latitude" [longitude]="longitude"></agm-marker>
      </agm-map>
 
    <div class="row row-content">
       <div class="col-12">
          <h3>Send us your Feedback</h3>
       </div>
        <div class="col-12 col-md-9">
            <form>
                <div class="form-group row">
                    <label for="firstname" class="col-md-2 col-form-label">First Name</label>
                    <div class="col-md-10">
                        <input type="text" class="form-control" id="firstname" name="firstname" placeholder="First Name">
                    </div>
                </div>
                <div class="form-group row">
                    <label for="lastname" class="col-md-2 col-form-label">Last Name</label>
                    <div class="col-md-10">
                        <input type="text" class="form-control" id="lastname" name="lastname" placeholder="Last Name">
                    </div>
                </div>
                 <div class="form-group row">
                    <label for="telnum" class="col-12 col-md-2 col-form-label">Contact Tel.</label>
                    <div class="col-5 col-sm-4 col-md-3">
                        <div class="input-group">
                            <div class="input-group-addon">(</div>
                                <input type="tel" class="form-control" id="areacode" name="areacode" placeholder="Area code">
                            <div class="input-group-addon">)</div>
                        </div>
                    </div>
                    <div class="col-7 col-sm-6 col-md-7">
                        <input type="tel" class="form-control" id="telnum" name="telnum" placeholder="Tel. number">
                    </div>
                </div>
                <div class="form-group row">
                    <label for="emailid" class="col-md-2 col-form-label">Email</label>
                    <div class="col-md-10">
                        <input type="email" class="form-control" id="emailid" name="emailid" placeholder="Email">
                    </div>
                </div> 
                <div class="form-group row">
                   <div class="form-check col-md-6 offset-md-2">
                        <label class="form-check-label">
                            <input type="checkbox" class="form-check-input" name="approve" value="">
                            <strong>May we contact you?</strong>
                        </label>
                    </div>
                    <div class="col-md-3 offset-md-1">
                        <select class="form-control">
                            <option>Tel.</option>
                            <option>Email</option>
                        </select>
                    </div>
                </div> 
                <div class="form-group row">
                    <div class="offset-md-2 col-md-10">
                        <button type="submit" class="btn btn-primary">Send Feedback</button>
                    </div>
                </div>
            </form>
        </div>
         <div class="col-12 col-md">
        </div>
   </div>

</div>