<div class="container">    
      <div class="row">
        <div class="col-sm-3" *ngFor = "let snacksItem of snacksItems" [routerLink]="['/item-detail', snacksItem.id]">
          <div class="panel panel-default">
            <div class="panel-heading">{{snacksItem.name}}</div>
            <div class="panel-body"><img src="{{BaseURL + snacksItem.image}}" class="img-responsive" style="width:100%" alt="Image"></div>
            <div class="panel-footer">Rs. {{snacksItem.price}} </div>
          </div>
        </div>
      </div>
  </div>