
  <nav class="navbar">
			<div class="container">
        <div class="navbar-header">
            <a class="navbar-brand"  routerLink="/home" style="font-size: 400%"> FC </a>
          </div>
          <ul class="nav navbar-nav">
            <li> <a routerLink="/home"  routerLinkActive="active"><span class="fa fa-home fa-lg"></span> Home</a></li>
            <li class="dropdown"><a class="dropdown-toggle" data-toggle="dropdown" routerLinkActive="active"><span class="fa fa-list fa-lg"></span> Menu <span class="caret"></span></a>
              <ul class="dropdown-menu">
                <li> <a routerLink="/menu/breakfast">Breakfast</a></li>
                <li><a  routerLink="/menu/lunch">Lunch</a></li>
                <li> <a  routerLink="/menu/dinner">Dinner</a></li>
                <li><a  routerLink="/menu/snacks">Snacks</a></li>
                <li><a  routerLink="/menu/beverages">Beverages</a></li>
              </ul>
            </li>
            <li> <a routerLink="/contactus"  routerLinkActive="active"><span class="fa fa-address-card fa-lg"></span> Contact</a></li>
          </ul>
          <ul class="nav navbar-nav navbar-right">
            <li *ngIf="!auth.isLoggedIn()"><a routerLink="/login">Sign in</a></li>
            <li *ngIf="auth.isLoggedIn()"><a routerLink="/profile">{{ auth.getUserDetails()?.name }}</a></li>
            <li *ngIf="auth.isLoggedIn()"><a (click)="auth.logout()">Logout</a></li>
          </ul>
				<div class="navbar-right">
					<div class="container minicart" routerLink="/cart"></div>
                    
				</div>
                
				
				
			</div>
		</nav>

