.row {
    margin-top: 11px;
    padding-top: 15px;
    padding-right: 15px;
  }
  #item{
    text-align: center;
    font-size: 25px;
  }
  #item-details{
    color:gray;
    font-size:18px;
  }
  .thumbnail:hover{
  	color:lightgray;
  }
  .thumbnail{
  	cursor:pointer;
  	 box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  }

  .btn{
    background-color: #f08573;
    color:white;
    margin-left: 7%;
  }
.qty{
  padding-top: 3%;
}